<!doctype html>
<html lang="en">
{% load static %}
{% load pwa %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  {% progressive_web_app_meta %}
  <title>{% block title %}{% endblock title %}</title>
</head>

<body class="d-flex flex-column h-100">
  {% load socialaccount %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'q.png' %}" width="50px" alt=""></a>
        
        

        <div>
          {% if request.user.is_authenticated %}

              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <strong class="text-dark">{{request.user.first_name}} {{request.user.last_name}}</strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end"
                aria-labelledby="navbarDarkDropdownMenuLink">                
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
          {% else %}
          <a class="btn btn-primary" href="{% provider_login_url 'google' %}" role="button">Login with Google</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>



  {% block body %}{% endblock body %}



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

</body>

</html>